.tile {
	background-color: rgb(127, 126, 255);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(252, 236, 82);
	color: white;
	font-weight: bold;
	font-size: 4vw;
}

.tile:hover {
	background-color: rgba(126, 126, 255, 0.562);
}
