.header {
	background-color: rgb(127, 126, 255);
	grid-column: 1 / 3;
	grid-row: 1;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 2rem;
	padding: 1rem;
}
.game-container {
	background-color: rgb(224, 82, 99);
	grid-column: 1 / 2;
	grid-row: 2 / 10;
	padding: 1rem 1rem;
}
.history-container {
	background-color: rgb(33, 11, 44);
	grid-column: 2 / 3;
	grid-row: 2 / 10;
}
